@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

h1, h2, h3, p, li, button {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-weight: 600;
    font-size: 1.25rem;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

.popup-body {
    padding: 1rem;
}

header {
    width: 16rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: rgb(228, 228, 228);
    border-bottom: solid 1px rgb(179, 179, 179);
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

li {
    display: flex;
    flex-wrap: nowrap;
    transition: color 0.3s ease
}

li:hover {
    color: rgb(136, 136, 136);
    cursor: pointer;
}

.note-editor {
}

.note-editor form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-editor form button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.note {
    background-color: #feff9c;
    height: 15rem;
    width: 15rem;
}

textarea {
    box-sizing: border-box;
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    background-color: transparent;
    resize: none;
}